<div class="menuBox" id="mobileMenu">
    <div class="container menuBox__inner">
        <div class="menuBox__top">

            <div class="menuBox__logo">
                <a href="#" class="logo">
                    <svg width="133" height="31" viewBox="0 0 133 31" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M16.5621 30.3478H17.6775L15.8725 27.8849C16.7069 27.7346 17.2603 27.1085 17.2603 26.2235C17.2603 25.1465 16.4855 24.5037 15.4382 24.5037H13.4033V30.3478H14.2888V27.9183H14.8252L16.5621 30.3478ZM14.2888 25.3218H15.2935C16.0087 25.3218 16.3067 25.7059 16.3067 26.2235C16.3067 26.7244 16.0087 27.1001 15.2935 27.1001H14.2888V25.3218Z"
                                fill="#2A3C83"/>
                        <path
                                d="M27.7587 29.5296V27.5259H30.0831V26.7077H27.7587V25.3218H30.2789V24.5037H26.8732V30.3478H30.3215V29.5296H27.7587Z"
                                fill="#2A3C83"/>
                        <path
                                d="M41.4287 24.3784C40.3814 24.3784 39.7599 24.9294 39.7599 25.7894C39.7599 26.3905 40.0664 26.8163 40.5773 27.2087L41.5905 27.9935C42.0162 28.3191 42.2205 28.5612 42.2205 28.8868C42.2205 29.2792 41.914 29.5881 41.2754 29.5881C40.6965 29.5881 40.126 29.3293 39.7429 29.1122L39.3427 29.9304C39.811 30.2226 40.5092 30.4731 41.2669 30.4731C42.3993 30.4731 43.1741 29.9053 43.1741 28.8367C43.1741 28.1688 42.8676 27.7096 42.2546 27.2504L41.1903 26.4489C40.8753 26.2068 40.722 26.0231 40.722 25.756C40.722 25.4471 40.9264 25.255 41.4032 25.255C41.8033 25.255 42.2461 25.397 42.6037 25.5973L43.0038 24.7708C42.5866 24.5621 42.0332 24.3784 41.4287 24.3784Z"
                                fill="#2A3C83"/>
                        <path d="M53.485 24.5037H52.5824V30.3478H53.485V24.5037Z" fill="#2A3C83"/>
                        <path
                                d="M65.1163 24.5037H63.1921V30.3478H65.1163C66.8277 30.3478 68.1133 29.2458 68.1133 27.4257C68.1133 25.6057 66.8277 24.5037 65.1163 24.5037ZM65.1078 25.3218C66.2743 25.3218 67.1427 26.0482 67.1427 27.4257C67.1427 28.8033 66.2743 29.5296 65.1078 29.5296H64.0776V25.3218H65.1078Z"
                                fill="#2A3C83"/>
                        <path
                                d="M78.4039 29.5296V27.5259H80.7283V26.7077H78.4039V25.3218H80.9241V24.5037H77.5184V30.3478H80.9667V29.5296H78.4039Z"
                                fill="#2A3C83"/>
                        <path
                                d="M95.2157 24.5037H94.3302V28.8701H94.3131L91.3842 24.5037H90.4562V30.3478H91.3416V25.9814H91.3587L94.2876 30.3478H95.2157V24.5037Z"
                                fill="#2A3C83"/>
                        <path
                                d="M107.819 30.4731C108.713 30.4731 109.377 30.2142 109.922 29.8302L109.377 29.0704C109.028 29.3209 108.491 29.5881 107.785 29.5881C106.533 29.5881 105.596 28.7448 105.596 27.4257C105.596 26.1066 106.533 25.2634 107.785 25.2634C108.491 25.2634 109.028 25.5306 109.377 25.781L109.922 25.0213C109.377 24.6372 108.713 24.3784 107.819 24.3784C105.929 24.3784 104.626 25.6057 104.626 27.4257C104.626 29.2458 105.929 30.4731 107.819 30.4731Z"
                                fill="#2A3C83"/>
                        <path
                                d="M120.127 29.5296V27.5259H122.452V26.7077H120.127V25.3218H122.648V24.5037H119.242V30.3478H122.69V29.5296H120.127Z"
                                fill="#2A3C83"/>
                        <path
                                d="M8.13682 8.96668V13.8558H5.525V9.00627L0 0H2.79264L6.91128 6.74976L11.0701 0H13.6417L8.13682 8.96668Z"
                                fill="#2A3C83"/>
                        <path
                                d="M49.1672 10.6492H42.1354L40.7491 13.8558H38.0569L44.3856 0H46.9572L53.3059 13.8558H50.5736L49.1672 10.6492ZM48.3033 8.63019L45.6513 2.57322L43.0194 8.63019H48.3033Z"
                                fill="#2A3C83"/>
                        <path
                                d="M88.9899 13.8558L86.1169 9.79803C85.9964 9.81123 85.8155 9.81783 85.5744 9.81783H82.4001V13.8558H79.7883V0H85.5744C86.7933 0 87.8514 0.19794 88.7488 0.593821C89.6596 0.9897 90.3561 1.55713 90.8383 2.2961C91.3205 3.03508 91.5615 3.91262 91.5615 4.92871C91.5615 5.97119 91.3004 6.86852 90.778 7.62069C90.269 8.37287 89.5324 8.9337 88.568 9.30318L91.8026 13.8558H88.9899ZM88.9296 4.92871C88.9296 4.04458 88.635 3.36498 88.0456 2.88993C87.4563 2.41487 86.5924 2.17734 85.4539 2.17734H82.4001V7.69987H85.4539C86.5924 7.69987 87.4563 7.46234 88.0456 6.98729C88.635 6.49903 88.9296 5.81284 88.9296 4.92871Z"
                                fill="#2A3C83"/>
                        <path
                                d="M119.177 0H125.325C126.825 0 128.158 0.290312 129.323 0.870937C130.489 1.43836 131.393 2.24992 132.036 3.3056C132.679 4.34808 133 5.55552 133 6.9279C133 8.30029 132.679 9.51432 132.036 10.57C131.393 11.6125 130.489 12.424 129.323 13.0047C128.158 13.5721 126.825 13.8558 125.325 13.8558H119.177V0ZM125.205 11.6785C126.236 11.6785 127.14 11.4871 127.917 11.1044C128.707 10.7086 129.31 10.1543 129.725 9.44174C130.154 8.71596 130.368 7.87801 130.368 6.9279C130.368 5.97779 130.154 5.14644 129.725 4.43386C129.31 3.70808 128.707 3.15385 127.917 2.77116C127.14 2.37528 126.236 2.17734 125.205 2.17734H121.789V11.6785H125.205Z"
                                fill="#2A3C83"/>
                        <path d="M24.9082 0.5354H26.4537V14.4445H24.9082V0.5354Z" fill="#7588CE"/>
                        <path d="M64.3179 0.5354H65.8633V14.4445H64.3179V0.5354Z" fill="#7588CE"/>
                        <path d="M104.5 0.5354H106.045V14.4445H104.5V0.5354Z" fill="#7588CE"/>
                    </svg>
                </a>
            </div>

            <nav class="nav nav--primary">
                <ul class="menu">
                    {% set menu = [
                        {
                            src: '#concept',
                            title: 'про концепцию'
                        },{
                            src: '#location',
                            title: 'про место'
                        },{
                            src: '#services',
                            title: 'про сервисы'
                        },{
                            src: '#advantages',
                            title: 'про плюсы'
                        },{
                            src: '#units',
                            title: 'про деньги'
                        },{
                            src: '#units',
                            title: 'про апартаменты'
                        },{
                            src: '#contacts',
                            title: 'КОНТАКТЫ'
                        }
                    ] %}
                    {% for item in menu %}
                        <li class="menu__item">
                            <a href="{{ item.src }}"
                               class="menu__link js-anchor-link">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav class="nav nav--secondary">
                <ul class="menu">
                    {% for item in ['Застройщик', 'Документы', 'Буклет'] %}
                        <li class="menu__item">
                            <a href="#">{{ item }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="menuBox__bottom">
            <div class="menuBox__row">
                <div class="menuBox__column">
                    <a href="tel:+7 (812) 210-69-97" class="phone">+7 (812) 210-69-97</a>
                </div>
                <div class="menuBox__column">
                    <a href="#" class="btn btn--gallery" data-fancybox data-src="#gallery">
                        {{ mixins.icon('gallery') }}
                        <span>ГАЛЕРЕЯ</span>
                    </a>
                </div>
            </div>

            <a href="#" class="btn btn--filled" data-fancybox
               data-src="#callback">
                Оставить заявку
            </a>
        </div>
    </div>
</div>

<div class="callBack" id="callback">
    <div class="callBack__inner" style="background-color: #2A3C83;">
        <div class="callBack__title">
            Отправка заявки
        </div>
        <div class="callBack__form">
            <form action="/" class="form form--callBack">
                {{ mixins.form_field(label='Ваше имя', name='name') }}
                {{ mixins.form_field(label='Почта или телефон', name='emailphone') }}
                <div class="form__button">
                    <button class="btn btn--filled" type="submit">
                        Оставить заявку
                    </button>
                </div>
                <div class="form__rules">
                    Нажимая кнопку “Отправить”, вы соглашаетесь с политикой хранения
                    персональных данных
                </div>
            </form>
        </div>

    </div>
</div>

<div class="textModal" id="modal1">
    <div class="container">
        <div class="textModal__inner textModal__inner--noPhoto">
            <div class="title">
                Концепция проекта
            </div>
            <div class="text">
                <p>Сервисные апартаменты — ликвидный объект инвестиций с высокой доходностью. В
                    среднем они приносят на 3-5% годовых больше в сравнении с другими источниками
                    пассивного дохода.</p>
                <p>
                    Набор функций компании, управляющей инвестиционной недвижимостью значительно
                    шире, чем у традиционных эксплуатирующих организаций. Можно выделить два
                    основных направления: техническое и коммерческое.<br>
                    Техническое — набор услуг по сервисному обслуживанию всех систем здания,
                    клинингу, обеспечению безопасности и другое. К коммерческой части относятся
                    мероприятия, направленные на извлечение дохода.
                </p>

                <p>В проекте комплекса YARD Residence заложены гостиничные стандарты,
                    соответствующие категории 4*. В каждой категории апартаментов (Smart, Standard,
                    Superior, Residence) формируется пул. Часть апартаментов в пуле сдается
                    посуточно, часть долгосрочно в зависимости от расположения. По итогам каждого
                    месяца формируется общий доход с пула, который за вычетом комиссии управляющей
                    компании подлежит разделу поровну между всеми собственниками апартаментов,
                    переданных в управление.</p>
            </div>
        </div>
    </div>
</div>

<div class="textModal" id="modal2">
    <div class="container">
        <div class="textModal__inner">
            <div class="title">
                Рестораны и&nbsp;магазины
            </div>
            <div class="photo">
                <img src="img/photo.jpg" alt="Рестораны  и магазины">
            </div>
            <div class="text">
                <p>
                    На первом этаже комплекса расположено все необходимое для продуктивной работы и
                    полноценного отдыха: здесь можно организовать конференцию или деловую встречу,
                    поужинать с друзьями в ресторане
                </p>
            </div>
        </div>
    </div>
</div>

<div class="textModal" id="modal3">
    <div class="container">
        <div class="textModal__inner textModal__inner--noPhoto">
            <div class="title">
                Особенности<br> концепции
            </div>
            <div class="text">
                <p>Сервисные апартаменты — ликвидный объект инвестиций с высокой доходностью. В
                    среднем они приносят на 3-5% годовых больше в сравнении с другими источниками
                    пассивного дохода.</p>
                <p>
                    Набор функций компании, управляющей инвестиционной недвижимостью значительно
                    шире, чем у традиционных эксплуатирующих организаций. Можно выделить два
                    основных направления: техническое и коммерческое.<br>
                    Техническое — набор услуг по сервисному обслуживанию всех систем здания,
                    клинингу, обеспечению безопасности и другое. К коммерческой части относятся
                    мероприятия, направленные на извлечение дохода.
                </p>
                <p>В проекте комплекса YARD Residence заложены гостиничные стандарты,
                    соответствующие категории 4*. В каждой категории апартаментов (Smart, Standard,
                    Superior, Residence) формируется пул. Часть апартаментов в пуле сдается
                    посуточно, часть долгосрочно в зависимости от расположения.</p>
            </div>


            <div class="navModal">
                <a href="#" class="navModalLink" data-fancybox-text-modal data-src="#modal4">
					<span class="navModalLink__left">
						Далее:
					</span>
                    <span class="navModalLink__right">
						Гарантии возврата вложений
					</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="textModal" id="modal4">
    <div class="container">
        <div class="textModal__inner textModal__inner--noPhoto">
            <div class="title">
                Гарантии возврата вложений
            </div>
            <div class="text">
                <p>
                    На первом этаже комплекса расположено все необходимое для продуктивной работы и
                    полноценного отдыха: здесь можно организовать конференцию или деловую встречу,
                    поужинать с друзьями в ресторане
                </p>
                <p>
                    полноценного отдыха: здесь можно организовать конференцию или деловую встречу,
                    поужинать с друзьями в ресторане
                </p>
            </div>
        </div>
    </div>
</div>

<div class="gallerySlider gallerySlider--modal" id="gallery">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for item in range(0,3) %}
                <div class="swiper-slide">
                    <img src="img/gallery_pic.jpg" alt="">
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="swiper-navigation">
        <div class="swiper-pagination"></div>
        <div class="swiper-button swiper-button-prev">{{ mixins.icon('arrow_left') }}</div>
        <div class="swiper-button swiper-button-next">{{ mixins.icon('arrow_right') }}</div>
    </div>
</div>


<div class="modal modal--map" id="modalMap">

    <a href="#" class="modal__close btn btn--close" data-fancybox-close>
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.34353 5.92893L5.92932 7.34315L11.5862 13L5.92932 18.6569L7.34353 20.0711L13.0004 14.4142L18.6572 20.0711L20.0715 18.6569L14.4146 13L20.0715 7.34315L18.6572 5.92893L13.0004 11.5858L7.34353 5.92893Z"/>
        </svg>
    </a>

    <div class="mapBox">
        <div class="mapBox__controls">
            <select name="" class="js-select-default js-mapBox-select">
                <option value="0">Метро</option>
                <option value="1">Достопримечательности</option>
                <option value="2">Вокзалы</option>
                <option value="3">АЗС</option>
                <option value="4" selected>Магазины и торговые центры</option>
                <option value="5">Банки</option>
                <option value="6">Финес-залы</option>
                <option value="7">Рестораны</option>
            </select>
        </div>
        <div class="mapBox__area" id="mapLocation"></div>
    </div>
</div>

<div class="modal modal--map" id="modalMap2">

    <a href="#" class="modal__close btn btn--close" data-fancybox-close>
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.34353 5.92893L5.92932 7.34315L11.5862 13L5.92932 18.6569L7.34353 20.0711L13.0004 14.4142L18.6572 20.0711L20.0715 18.6569L14.4146 13L20.0715 7.34315L18.6572 5.92893L13.0004 11.5858L7.34353 5.92893Z"/>
        </svg>
    </a>

    <div class="mapBox">
        <div class="mapBox__controls">
            <select name="" class="js-select-default js-mapBox-select">
                <option value="0">Метро</option>
                <option value="1">Достопримечательности</option>
                <option value="2">Вокзалы</option>
                <option value="3">АЗС</option>
                <option value="4" selected>Магазины и торговые центры</option>
                <option value="5">Банки</option>
                <option value="6">Финес-залы</option>
                <option value="7">Рестораны</option>
            </select>
        </div>
        <div class="mapBox__area" id="mapLocation2"></div>
    </div>
</div>
