.icon-arrow_down {
  width: 17px;
  height:11px;
  fill: initial;
}
.icon-arrow_left {
  width: 29px;
  height:29px;
  fill: initial;
}
.icon-arrow_long_left {
  width: 26px;
  height:15px;
  fill: initial;
}
.icon-arrow_long_right {
  width: 26px;
  height:15px;
  fill: initial;
}
.icon-arrow_right {
  width: 30px;
  height:29px;
  fill: initial;
}
.icon-facebook {
  width: 10px;
  height:19px;
  fill: initial;
}
.icon-gallery {
  width: 19px;
  height:18px;
  fill: initial;
}
.icon-message {
  width: 24px;
  height:21px;
  fill: initial;
}
.icon-pin {
  width: 20px;
  height:30px;
  fill: initial;
}
